{% extends './header.html' %}
{% block content %}
    <h1>About: Created By {{ userName }}</h1>
    <span>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad neque quidem ipsam tempore. Sint eaque itaque, doloribus mollitia iste veritatis officia laboriosam impedit minus quae, in obcaecati qui animi. Distinctio esse corporis unde praesentium odio deserunt ipsum animi tenetur ullam delectus placeat nemo error perferendis provident recusandae dolores vitae, sequi consequuntur deleniti officiis perspiciatis tempora molestias. In error quam dolorem veritatis, molestiae est modi explicabo beatae, expedita quasi velit consequatur magnam eius? Rem doloribus ratione ipsa nobis adipisci voluptas facilis magnam repellendus dolorem fugiat labore asperiores iure totam suscipit, quidem animi ea similique error aliquam reprehenderit nulla. Aliquid, delectus quo.
    </span>
{% endblock %}