{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
    <body>
        <nav class="nabvar">
            <div class="container">
                <ul>
                    <li>
                        <a href="/api/">Home</a>
                    </li>
                    <li>
                        <a href="/api/about">About</a>
                    </li>
                    <li>
                        <a href="/api/projects">Projects</a>
                    </li>
                    <li>
                        <!-- <a href="/api/projects/create">Create New Project</a> -->
                        <a href="{% url 'createproject' %}">Create New Project</a>
                    </li>
                    <li>
                        <a href="/api/tasks">Tasks</a>
                    </li>
                    <li>
                        <!-- <a href="/api/tasks/create">Create New Task</a> -->
                        <a href="{% url 'createtask' %}">Create New Task</a>
                        
                    </li>
                </ul>
            </div>
        </nav>

        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>