{% extends '../views/header.html' %}
{% block content %}
    <h1>Tasks:</h1>
    {% for task in data.tasks %}
        <p>
            <i>
                <b>
                    {% if task.done == False %}
                        Pending
                    {% else %}
                        Done
                    {% endif %}
                </b>: 
                    {{ task.title }} - {{ task.description }} - 
                    <b>
                        {{ task.project }}
                    </b>
                <hr>
                <button>&#8998;</button>
                <button>&#10003;</button>
            </i>
        </p>
    {% endfor %}
{% endblock %}