{% extends 'home.html' %}

{% block body %}

<body class="hold-transition sidebar-collapse layout-top-nav">
    <div class="wrapper">

        {% block javascriptcode %}

        {% endblock %}

        <!-- Navbar -->
        {% include 'partials/header.html' %}
        <!-- Main Sidebar Container -->
        {% include 'partials/sidebar.html' %}
        <div class="content-header">
            <div class="container">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark">
                            Bienvenid@
                            <small>
                                saariel115@gmail.com
                            </small>
                        </h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item">
                                <a href="#">Home</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="#">Layout</a>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <div class="content">
            <div class="container">
                {% block content %}

                {% endblock %}
            </div>
        </div>

        <!-- Footer -->
        <aside class="control-sidebar control-sidebar-dark">
            {% include 'partials/footer.html' %}
        </aside>

    </div>

</body>
{% endblock %}