{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ titulo }}</title>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <link rel="stylesheet" href="{% static 'lib/admin-let/plugins/fontawesome-free/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'lib/admin-let/css/adminlte.min.css' %}">

    <script src="{% static 'lib/admin-let/plugins/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'lib/admin-let/plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'lib/admin-let/js/adminlte.min.js' %}"></script>
    <!-- <script src="{% static 'lib/admin-let/js/demo.js' %}"></script> -->

    <!--Importacion de las datatables solo cuando sea necesario para no importar de gusto-->
    {% block head %}
        
    {% endblock %}
</head>

    
    {% block body %}
        
    {% endblock %}

</html>