
{% extends 'body.html' %}

{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'lib/datatables-1.10.20/dataTables.bootstrap4.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'lib/datatables-1.10.20/responsive.bootstrap4.min.css' %}"/>
    <script src="{% static 'lib/datatables-1.10.20/jquery.dataTables.js' %}"></script>
    <script src="{% static 'lib/datatables-1.10.20/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'lib/datatables-1.10.20/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'lib/datatables-1.10.20/responsive.bootstrap4.min.js' %}"></script>
{% endblock %}

{% block javascriptcode %}
    <script>
        $(function() {
            $('#data').DataTable({
                responsive: true,
                autoWidth: false
            });
        });
    </script>
{% endblock %}

{% block content %}
<div class="row mt-5">
    <div class="col-12">
        <div class="card">
            <div class="card-header text-white bg-dark">
                <div class="card-title">
                    <i class="fas fa-search"></i>
                    {{ titulo }}
                </div>
            </div>
            <div class="card-body">
                <table id="data" class="table table-hover">
                    <thead>
                        {% block theadcontent %}
                        {% endblock %}
                    </thead>
                    <tbody>
                        {% block tbodycontent %}
                        {% endblock %}
                    </tbody>
                </table>
            </div>
            <div class="card-footer text-center bg-dark">
                {% block cardfootercontent %}
                {% endblock %}
            </div>
        </div>
    </div>
</div>
{% endblock %}