{% include 'site/header.html' %}
    <h2 class="display-5">Books</h2>
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 m-3">
            <div class="card" style="width: 18rem;">
                <img src="https://as01.epimg.net/meristation/imagenes/2021/03/01/noticias/1614600377_267982_1614600463_noticia_normal.jpg" class="card-img-top img-fluid" alt="Hutao">
                <div class="card-body">
                    <h5 class="card-title">Card title One</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Download</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 m-3">
            <div class="card" style="width: 18rem;">
                <img src="https://as01.epimg.net/meristation/imagenes/2021/03/01/noticias/1614600377_267982_1614600463_noticia_normal.jpg" class="card-img-top img-fluid" alt="Hutao">
                <div class="card-body">
                    <h5 class="card-title">Card title Two</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Download</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 m-3">
            <div class="card" style="width: 18rem;">
                <img src="https://as01.epimg.net/meristation/imagenes/2021/03/01/noticias/1614600377_267982_1614600463_noticia_normal.jpg" class="card-img-top img-fluid" alt="Hutao">
                <div class="card-body">
                    <h5 class="card-title">Card title Three</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Download</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 m-3">
            <div class="card" style="width: 18rem;">
                <img src="https://as01.epimg.net/meristation/imagenes/2021/03/01/noticias/1614600377_267982_1614600463_noticia_normal.jpg" class="card-img-top img-fluid" alt="Hutao">
                <div class="card-body">
                    <h5 class="card-title">Card title Four</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Download</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 m-3">
            <div class="card" style="width: 18rem;">
                <img src="https://as01.epimg.net/meristation/imagenes/2021/03/01/noticias/1614600377_267982_1614600463_noticia_normal.jpg" class="card-img-top img-fluid" alt="Hutao">
                <div class="card-body">
                    <h5 class="card-title">Card title Five</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Download</a>
                </div>
            </div>
        </div>
    </div>
{% include 'site/footer.html' %}