body {
    background: #6190E8;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #A7BFE8, #6190E8);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #A7BFE8, #6190E8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.nabvar {
    background: #F2994A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F2C94C, #F2994A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F2C94C, #F2994A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.nabvar ul li a {
    color: white;
    text-decoration: none;
}

.nabvar ul li a:hover {
    color: #6190E8;
    cursor: pointer;
}

.nabvar ul li {
    list-style: none;
}

.nabvar ul {
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px 0;
}
