{% extends 'partials/table-component.html' %}


{% block theadcontent %}
    <tr class="font-weight-bold">
        <td># Codigo</td>
        <td>Nombre</td>
        <td>Descripcion</td>
        <td>Opciones</td>
    </tr>
{% endblock %}

{% block tbodycontent %}
    {% for category in object_list %}
        <tr>
            <td>{{ category.id }}</td>
            <td>{{ category.category_name }}</td>
            <td>{{ category.category_desc }}</td>
            <td>
                <button class="btn btn-outline-warning btn-sm"><i class="fas fa-edit"></i></button>
                <button class="btn btn-outline-danger btn-sm"><i class="fas fa-trash-alt"></i></button>
            </td>
        </tr>
    {% endfor %}
{% endblock %}

{% block cardfootercontent %}
    <button class="btn btn-primary btn-flat" id="btnSave">
        <i class="fas fa-plus"></i>
        Nueva Categoria
    </button>

    <script>
        document.getElementById( 'btnSave' ).addEventListener('click', () => {
            //console.log('Btn Saved Clicked');
            fetch(`http://127.0.0.1:8000/erp/categories/list/' %}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify( data )
            })
            .then( res => res.json() )
            .then( res => {
                console.log(res);
            })
            .catch( error => console.error( error ) );
        });
    </script>
{% endblock %}